
@import '../../index.scss';
#box {
    left: 50%;
    transform: translateX(-140%); 
    bottom:3rem ;
    @include for-size(tablet-landscape) {
        top: 35.2rem;
    }
    @include for-size (phone-only) {
        scale: 0.7 !important;
        top: 40rem;
        transform: translateX(-170%) !important; 
    }
}

#phone {
    left: 50%;
    transform: translateX(-50%); 
    @include for-size(tablet-landscape) {
        padding-top: 5rem;
    }
    @include for-size (phone-only) {
        max-width: unset;
    }
}

#calendar {
    left: 50%;
    transform: translateX(150%); 
    top: 10rem;
}

#container {
    margin: 0 auto;
    max-width: 474px;
    @include for-size(tablet-landscape) {
        margin: 0;
    }
}

#wrapper {
    @include for-size(tablet-landscape) {
        min-height: unset;
        height: 180vh;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 10rem;
        #container_wrapper, #images_wrapper {
            width: 100%;
            padding-top: 0 !important;
        }
    }
    @include for-size(tablet-portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include for-size (phone-only) {
        h2 {
            line-height: 3.4rem;    
            font-size: 45px;
        }
        height: 85rem !important;
        overflow-y: hidden;
    }
}

#images_wrapper {
    @include for-size(phone-only) {
        scale: 0.8;
    }
}