@import '../../responsive.scss';

#container {
    margin: 0 auto;
    max-width: 474px;
    padding-left: 5rem;
    h2 {
        line-height: 5.5rem;
    }
    @include for-size(tablet-landscape) {
        margin: 0;
        padding-left: 0rem;
    }
}

#box {
    left: 50%;
    transform: translateX(13%); 
    bottom:6.5rem ;
    @include for-size(tablet-landscape) {
        top: 30.5rem;
        left: 50%;
    }
    @include for-size (phone-only) {
        scale: 0.7 !important;
        top: 28rem;
        transform: translateX(0%) !important; 
    }
}

#phone {
    left: 52%;
    transform: translateX(-50%); 
    @include for-size (phone-only) {
        max-width: unset;
    }
}

#flower {
    top: 13rem;
    left: 50%;
    transform: translateX(-235%); 
}

#wrapper {
    @include for-size(tablet-landscape) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 5rem;
        padding-right: 5rem;
        height: 180vh;
    }
    @include for-size(tablet-portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include for-size (phone-only) {
        h2 {
            font-size: 45px;
            line-height: 3.4rem;
        }
        height: 90rem !important;
        overflow-y: hidden;
    }
}

#container_wrapper {
    @include for-size(tablet-landscape) {
        padding-top: 10rem;
        width: 100%;
    }
}

#images_wrapper {
    width: 100%;
    @include for-size(phone-only) {
        scale: 0.8;
    }
}



