@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin for-size($size) {
  @if ($size == phone-only) {
    @media (max-width:600px) {@content;}
  } @else if($size == tablet-portrait) {
    @media (max-width:900px) {@content;}
  } @else if($size == tablet-landscape) {
    @media (max-width:1200px) {@content;}
  } @else if($size == mid-desktop) {
    @media (max-width:1400px) {@content;}
  } @else if($size == big-desktop) {
    @media (min-width:1800px) {@content;}
  }
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.responsive_wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
  @include for-size(tablet-portrait) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



